@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/spawnedc\/Sites\/zorcraft\/zorcraft\/static\/sass\/main\.scss}line{font-family:\000031}}
html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/spawnedc\/Sites\/zorcraft\/zorcraft\/static\/sass\/main\.scss}line{font-family:\000038}}
#map {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/spawnedc\/Sites\/zorcraft\/zorcraft\/static\/sass\/main\.scss}line{font-family:\0000314}}
  #map .tile {
    background: url("/static/img/grass_and_water.png") no-repeat;
    height: 64px;
    line-height: 64px;
    position: absolute;
    width: 64px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/spawnedc\/Sites\/zorcraft\/zorcraft\/static\/sass\/main\.scss}line{font-family:\0000321}}
    #map .tile:hover {
      opacity: .9; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/spawnedc\/Sites\/zorcraft\/zorcraft\/static\/sass\/main\.scss}line{font-family:\0000325}}
    #map .tile.water {
      background-position: -128px -320px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/spawnedc\/Sites\/zorcraft\/zorcraft\/static\/sass\/main\.scss}line{font-family:\0000329}}
    #map .tile.grass {
      background-position: 0px 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/spawnedc\/Sites\/zorcraft\/zorcraft\/static\/sass\/main\.scss}line{font-family:\0000333}}
    #map .tile.topleft {
      background-position: -64px -128px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/spawnedc\/Sites\/zorcraft\/zorcraft\/static\/sass\/main\.scss}line{font-family:\0000337}}
    #map .tile.left {
      background-position: 0px -256px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/spawnedc\/Sites\/zorcraft\/zorcraft\/static\/sass\/main\.scss}line{font-family:\0000341}}
    #map .tile.top {
      background-position: -64px -256px; }
