<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{% block title %}{% endblock %} | Zorcraft</title>
		<link type="text/css" rel="stylesheet" href="/static/css/main.css" media="screen" />
		{% block extra_css %}{% endblock %}

		{% block preload_js %}{% endblock %}
	</head>
	<body>
		{% block content %}{% endblock %}

		{# Beautiful libs #}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script src="/static/js/libs/underscore.js"></script>
		<script src="/static/js/libs/backbone.js"></script>
		{# Include main zc object #}
		<script src="/static/js/zorcraft.js"></script>
		{# Include map views #}
		<script src="/static/js/views/map/Tile.js"></script>
		<script src="/static/js/views/map/Map.js"></script>
		{# Include main Game view #}
		<script src="/static/js/views/Game.js"></script>
		{# Include main application trigger #}
		<script src="/static/js/app.js"></script>
		{% block extra_js %}{% endblock %}
	</body>
</html>