html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	position: relative;
	width: 100%;
}
#map {
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;

	.tile {
		background: url('/static/img/grass_and_water.png') no-repeat;
		height: 64px;
		line-height: 64px;
		position: absolute;
		width: 64px;

		&:hover {
			opacity: .9;
		}

		&.water {
			background-position: -128px -320px;
		}

		&.grass {
			background-position: 0px 0px;
		}

		&.topleft {
			background-position: -64px -128px;
		}

		&.left {
			background-position: 0px -256px;
		}

		&.top {
			background-position: -64px -256px;
		}
	}
}
