@import 'bourbon/bourbon';

html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	position: relative;
	width: 100%;
}

#map {
	// @include transform(rotate(45deg));
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;

	.tile {
		background: url('/static/img/iso-64x64-outside.png') no-repeat;
		height: 64px;
		line-height: 64px;
		position: absolute;
		width: 64px;

		&:hover {
			opacity: .9;
		}

		&.water {
			background-position: -256px -512px;
		}

		&.grass {
			background-position: -256px -192px;
		}

		&.topleft {
			background-position: -192px -192px;
		}

		&.left {
			background-position: -64px -192px;
		}

		&.top {
			background-position: -384px -192px;
		}
	}
}
